<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{% block title %}
        It балаган
        {% endblock %}
    </title>
    <style type="text/css">
        
    .alert-primary {
        color: #000000;
        background-color: #beccda;
        border-color: #001731;
    }
    a {
    color: #1293cd;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    }
    a:hover{
        text-decoration: none;
        color: red;
    }
    .myfield{
            border:1px solid #ccc; 
            border-radius:5px;
            height:25px;
            width:200px;
            margin: 10px 10px 10px 0;
        }
    
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="https://image.flaticon.com/icons/svg/1753/1753918.svg" width="30" height="30" class="navbar-brand d-inline-block align-top" alt="">It балаган</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
        <a style="cursor: pointer;" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Кликни</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if user.is_authenticated %}

                <a class="dropdown-item" href="{% url 'add_post' %}">Задать вопрос</a>
                <div class="dropdown-divider"></div>  
            {% if cat_menu %}
                <a class="dropdown-item" href="{% url 'category_list' %}">
                  Категории
                </a>
            {% else %}
                <a class="dropdown-item" href="{% url 'category_list' %}">Категории</a>
            
            {% endif %}

                <a class="dropdown-item" href="{% url 'popular_list' %}">Популярные вопросы</a> 
                <a class="dropdown-item" href="{% url 'new_list' %}">Новые вопросы</a> 
                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a class="dropdown-item" href="{% url 'register' %}">Зарегестрироваться</a>
                <a class="dropdown-item" href="{% url 'login' %}">Войти</a>
            {% endif %}
        </div>
      </li>
            
        </ul>
    </div>
</nav>
<br>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>