{% extends 'base.html' %}
{% block title %}Edit Blog Post{% endblock %}
{% block content %}
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
    <h1 class="text-monospace">Обновите пост...</h1>
    <br><br>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            Если хотите применить нижеперичисленные функции, пишите их <strong>без пробелов!</strong><br>
            < br > - Перенос строки&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
            < strong >< /strong > - <strong>Жирный текст</strong>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
            < em >< /em > - <em>Наклонный текст</em><br><br>
            <button class="btn btn-warning">Обновить</button>
        </form>
    </div>
{% else %}
    You are not allowed here!!
{% endif %}
{% endif %}
{% endblock %}